<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurveyApp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SurveyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:label="@string/login"
            android:theme="@style/Theme.SurveyApp">
        </activity>

        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="true"
            android:label="@string/register"
            android:theme="@style/Theme.SurveyApp">
        </activity>

        <activity
            android:name=".ui.activities.AdminDashboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SurveyApp">
        </activity>

        <activity
            android:name=".ui.activities.UserDashboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SurveyApp">
        </activity>

        <activity
            android:name=".ui.activities.CreateSurveyActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SurveyApp">
        </activity>

        <activity
            android:name=".ui.activities.EditSurveyActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SurveyApp">
        </activity>

        <activity
            android:name=".ui.activities.ViewResultsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SurveyApp">
        </activity>

    </application>

</manifest>
